*,
body,
html {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

div.card {
    margin: 0.5rem;
    padding: 0;
}

div.card-body {
    display: flex;
    justify-content: center;
}