*,
body,
html {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

main.js30>div.container>div.row>div.card {
    margin: 0.5rem;
    padding: 0;
}

main.js30>div.container>div.row>div.card>a>div.card-body {
    display: flex;
    justify-content: center;
}