*,
html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header,
.videos-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    margin: 3% 0;
}

.title,
.videos {
    align-items: center;
    text-align: center;
}

.title {
    color: mediumblue;
}